Navbar {
  font-weight: 800;
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
}

.nav-link:hover {
  background-color: #dce5e5;
  color: white;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
