Navbar {
  font-weight: 800;
  color: black;
}

.customColour {
  background-color: goldenrod;
  color: white;
}
.nav-link {
  background-color: goldenrod;
}

.nav-link:hover {
  color: white;
}

select.decorated option:checked {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.navLink {
  font-weight: 700;
}
