.myCards {
  background-color: white;
}

.myCards {
  color: black;
}
.myCards a {
  color: white;
}

.cardTitle {
  background-color: #0e37cc;
  color: white;
  padding: 0.4em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 3em;
}
