.singleReviewBody {
  margin: auto;
  width: 60%;
}

.reviewTitle {
  margin-top: 1em;
}

.commentDivider {
  border: 0;
  clear: both;
  display: block;
  width: 50%;
  background-color: black;
  height: 1px;
  margin-bottom: 2.4em;
}

.commentArea {
  width: 70%;
  margin: auto;
  margin-bottom: 5em;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 8px 8px -4px lightblue;
}

.submitBtn {
  margin: auto;
}

.comments {
  background-color: #dce5e5;
  width: 65%;
  padding: 3em;
  margin-bottom: 1em;
  margin: auto;
}

span {
  background-color: #0e37cc;
  padding: 0.4em;
  color: white;
}

.created_at {
  font-size: 0.8em;
}

.icon:hover {
  fill: red;
}

.review p {
  line-height: 2.2em;
}

.votesBadge:hover {
  background-color: red;
}

.review .userBadge {
  font-size: 1.1em;
  margin-bottom: 3em;
}

.userBadge {
  font-size: 1em;
}
li {
  list-style: none;
}
