/* .Footer {
  background-color: black;
  max-height: 5em;
  min-height: 5em;
  color: white;
  margin-top: 3em;
} */

h5 {
  margin: auto;
}
Footer {
  display: grid;
  background-color: black;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'sitemap copyright socialIcons';
  min-height: 5em;
  text-transform: uppercase;
  font-weight: bold;
}

Footer a {
  color: white;
}

Footer a:hover,
Footer a:active {
  color: goldenrod;

  text-decoration: none;
}
.copyright {
  grid-area: copyright;
  margin: 1.6em 0 1.6em 0;
  text-transform: none;
}

.sitemap {
  grid-area: sitemap;
  margin: 1.6em 0 1.6em 0;
}

.sitemap a {
  text-transform: none;
}
.socialIcons {
  grid-area: socialIcons;
  margin: 1.6em 0 1.6em 0;
}

svg {
  margin: 0 1em 0 1em;
}
svg:hover {
  color: goldenrod;
}

.footerDivider {
  border: 0;
  clear: both;
  display: block;
  width: 30%;
  background-color: #ffffff;
  height: 1px;
  margin-bottom: 1em;
}
