.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header' 'content';
  min-height: 100vh;
}

.Header {
  background-color: DarkBlue;
}

.Header h1 {
  color: white;
}

.Header h1:hover {
  color: goldenrod;
}
.Navbar {
  background-color: teal;
  padding: 1em;
}

.Navbar h4 {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.Navbar h4:hover {
  background: goldenrod;
  margin: 0;
}

.Home {
  background-color: rgba(218, 112, 214, 0.719);
}
.Review {
  background-color: rgba(218, 112, 214, 0.527);
}

.Categories {
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Categories li {
  border: 1px solid white;
}

.Footer {
  background-color: rgba(112, 218, 213, 0.527);
}

ul {
  list-style: none;
}
